<div class="card-panel teal lighten-2">
    <span class="white-text">
        <h1>Portfolio#index</h1>
    </span>
</div>

<div style="display:inline-flex">
    <%= form_tag( { action: :top }, { remote: true } ) do %>
    　　<%= submit_tag :top %>

    <% end %>
    <%= form_tag( { action: :sample }, { remote: true } ) do %>
    　　<%= submit_tag :sample %>
    <% end %>
    <%= form_tag( { action: :mail }, { remote: true } ) do %>
    　　<%= submit_tag :mail %>
    <% end %>
</div>

<fieldset>
    <div id='divjserb'>
        <%= render partial: "top" %>
    </div>
</fieldset>